header {
    margin-bottom: 30px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(111, 110, 110, 0.8);
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #272727;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Add gaps for better separation */
    width: 300px; /* Increase the size for better visibility */
    height: 300px;
    margin-bottom: 20px;
}

.game-button {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* Add shadow for depth */
    transition: opacity 0.3s, filter 0.3s; /* Smooth transitions for visual effects */
}

#start {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); /* Rainbow colors */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
    background-size: 200% auto; /* For the gradient animation */
    animation: rainbow 5s linear infinite;
}

#start:hover {
    transform: scale(1.05);
}

#start:focus {
    outline: none;
}

/* Animation for the rainbow effect */
@keyframes rainbow {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

#green { background-color: #28a745; }
#red { background-color: #dc3545; }
#yellow { background-color: #ffc107; }
#blue { background-color: #007bff; }

#green.active { background-color: #4dff4d; } /* Brighter green */
#red.active { background-color: #ff6666; } /* Brighter red */
#yellow.active { background-color: #ffff66; } /* Brighter yellow */
#blue.active { background-color: #00bfff; } /* Brighter blue */

.game-button.active {
    opacity: 1;
    filter: brightness(125%);
}

#control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    margin-bottom: 20px;
}

#message {
    color: #a408c0;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}